[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:CMakeLists.txt]
search = VERSION {current_version} # bump this
replace = VERSION {new_version} # bump this

[bumpversion:file:docs/conf.py]
search = release = '{current_version}'
replace = release = '{new_version}'
